name: Verify Build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    # Job 1: Build the container image once
    prepare-image:
        if: false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: podman build -t cpp-build-env -f Containerfile .
            - run: podman save -o image.tar cpp-build-env
            - uses: actions/upload-artifact@v4
              with:
                  name: build-image
                  path: image.tar

    # Job 2: Run the matrix builds using the saved image
    build:
        if: false
        needs: prepare-image
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                preset:
                    [
                        x86_64-clang,
                        x86_64-clang-release,
                        x86_64-clang-debug,
                        x86_64-clang-minsize,
                    ]
        steps:
            - uses: actions/checkout@v4
            - uses: actions/download-artifact@v4
              with:
                  name: build-image
            - name: Load Image
              run: podman load -i image.tar
            - name: Build Preset
              run: |
                  podman run --rm -v ${{ github.workspace }}:/src -w /src cpp-build-env \
                  bash -c "cmake -S . --preset ${{ matrix.preset }} && cd build/${{ matrix.preset }} && make"
